<div class="w-9/12 mx-auto">
  <h2 class="text-xl text-gray-800 font-semibold mb-3">Detalle de la Aplicación</h2>

  <div class="grid grid-cols-3 gap-4">
    <div class="col-span-2">
      <img src="assets/img/works/deendi.png" alt="">
    </div>

    <div class="col-span-1">
        <h2 class="text-lg text-gray-800 font-semibold">PLatfaorma Deendi</h2>

        <p class="mt-5 text-gray-700 text-base">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus cumque sapiente quae dolore adipisci nihil nam tempora, suscipit fugiat est, sint dolorem, labore dicta officia voluptatibus beatae quisquam. In, amet.
        </p>
    </div>

    <div class="flex col-span-3">
      <span class="bg-blue-600 px-3 py-1 rounded-full text-gray-50 font-semibold text-sm mr-2"> HTML 5</span>
      <span class="bg-blue-600 px-3 py-1 rounded-full text-gray-50 font-semibold text-sm mr-2"> CSS 3</span>
      <span class="bg-blue-600 px-3 py-1 rounded-full text-gray-50 font-semibold text-sm mr-2"> JavaScript</span>
      <span class="bg-blue-600 px-3 py-1 rounded-full text-gray-50 font-semibold text-sm mr-2"> PHP</span>
      <span class="bg-blue-600 px-3 py-1 rounded-full text-gray-50 font-semibold text-sm mr-2"> Laravel</span>
      <span class="bg-blue-600 px-3 py-1 rounded-full text-gray-50 font-semibold text-sm mr-2"> Vue</span>
      <span class="bg-blue-600 px-3 py-1 rounded-full text-gray-50 font-semibold text-sm mr-2"> Bootstrap</span>
      <span class="bg-blue-600 px-3 py-1 rounded-full text-gray-50 font-semibold text-sm mr-2"> Google Chart</span>
    </div>

    <div class="col-span-3">
      <a href="#" class="text-xl"><i class="fas fa-globe text-xl mr-3"></i></a>
      <a href="#" class="text-xl"><i class="fab fa-github text-xl"></i></a>
    </div>
  </div>


</div>
