<!-- component -->
<main class="grid place-items-center py-12">
  <section class="py-10 px-5 bg-gray-50 rounded-md shadow-lg w-3/4 md:max-w-2xl">
    <h2 class="mt-2 text-2xl leading-5 font-extrabold tracking-tight text-gray-900 sm:text-3xl">
      Para saber mas de mi y mi profesion me puede contactar a los siguientes enlaces
    </h2>

    <div class="grid grid-cols-2 gap-5 mt-10">
      <div class="col-span-1">
        <section>
          Email: <br>
          <b><i class="fas fa-envelope mr-2"></i> joelfzop@gmail.com</b>
        </section>
      </div>

      <div class="col-span-1">
        <section>
          Phone: <br>
          <b><i class="fas fa-phone-square mr-2"></i> 278-114-13-10</b>
        </section>
      </div>

      <div class="col-span-2">
        <section>
          LinkedIn: <br>
          <b><i class="fab fa-linkedin mr-2"></i> <a class="hover:text-blue-500" target="_blank" href="https://www.linkedin.com/in/joel-flores-zopiyactle-10868a207/">https://www.linkedin.com/in/joel-flores-zopiyactle-10868a207/</a></b>
        </section>
      </div>
    </div>
  </section>
</main>

