<!-- This example requires Tailwind CSS v2.0+ -->
<div class="py-5 bg-white">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="lg:text-center">
      <h2 class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">
        Formación educativa
      </h2>
      <p class="mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto">
        Como parte de mi formacion educativa y aprendisaje le muestro el siguiente lista de cursos y carrera profesional.
      </p>
    </div>

    <div class="mt-10">
      <dl class="space-y-10 md:space-y-0 md:grid md:grid-cols-2 md:gap-x-8 md:gap-y-10">
        <div class="relative">
          <dt>
            <div class="absolute flex items-center justify-center h-12 w-12 rounded-md bg-indigo-500 text-white">
              <i class="fas fa-graduation-cap"></i>
            </div>
            <p class="ml-16 text-lg leading-6 font-medium text-gray-900">Ingeniería en Sistemas Computacionales.</p>
          </dt>
          <dd class="mt-2 ml-16 text-base text-gray-500">
            (Generación: 2015 - 2020 - Instituto Tecnológico Superior de Zongolica)
          </dd>
        </div>

        <div class="relative">
          <dt>
            <div class="absolute flex items-center justify-center h-12 w-12 rounded-md bg-indigo-500 text-white">
              <!-- Heroicon name: outline/scale -->
              <i class="fas fa-globe-americas"></i>
            </div>
            <p class="ml-16 text-lg leading-6 font-medium text-gray-900">Diplomado en Desarrollo de sitios web y aplicaciones Móviles.</p>
          </dt>
          <dd class="mt-2 ml-16 text-base text-gray-500">
            (Obtenido por la fundación Carlos Slim a través de la plataforma capacítate para el empleo. )
          </dd>
        </div>

        <div class="relative">
          <dt>
            <div class="absolute flex items-center justify-center h-12 w-12 rounded-md bg-indigo-500 text-white">
              <!-- Heroicon name: outline/lightning-bolt -->
              <i class="fas fa-globe-americas"></i>
            </div>
            <p class="ml-16 text-lg leading-6 font-medium text-gray-900">Curso de Laravel desde cero y APIs RESTful y Webs Angular</p>
          </dt>
          <dd class="mt-2 ml-16 text-base text-gray-500">
           (Udemy)
          </dd>
        </div>
      </dl>
    </div>
  </div>
</div>

