
<div class="shadow-md cursor-pointer transform transition ease-in hover:scale-105 hover:shadow-xl">
  <a
  [routerLink]="['/projects/','deendi']"
  class="w-full h-full z-40 absolute flex items-center justify-center hover:bg-blue-800 opacity-30 overflow-hidden rounded-md">
     <!--  <a
      class="bg-blue-400 px-4 py-2 text-gray-100 font-semibold rounded-md z-50"
      href="#">Saber mas</a> -->
  </a>
  <img
  class="w-full h-full overflow-hidden bg-cover bg-no-repeat rounded-md"
  [src]="'assets/img/works/'+urlImg" alt="">


</div>

